#home {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-secondary);
  color: #1a1a1a;
  justify-content: space-between;
  list-style: none;
  padding-top: 80px;
  padding: 80px 40px 40px 40px;
  min-height: 100vh;
  align-items: flex-start;
}

.hero-h1 {
  color: #666666;
}

.hero-btn {
  background-color: var(--color-accent);
  color: #1a1a1a;
  padding: 10px;
}
