.Navbar {
  position: fixed;
  background-color: var(--color-bg-secondary);
  color: #1a1a1a;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
}

.navbar-title {
  color: var(--color-text-muted);
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navbar-links a {
  color: var(--color-text-muted);
  text-decoration: none;
}

.navbar-links a:hover {
  color: var(--color-text);
}

.contact-button {
  background-color: var(--color-accent);
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
