.Navbar {
  position: fixed;
  background-color: var(--color-bg-secondary);
  color: #1a1a1a;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
}

.navbar-title {
  color: var(--color-text-muted);
}

.navbar-links {
  display: flex;
  color: var(--color-text-muted);
  gap: 2rem;
  list-style: none;
}
