:root {
  --color-bg: #171515;
  --color-bg-secondary: #1f1f1f;
  --color-accent: #ff5500;
  --color-text: #e6e6e6;
  --color-text-muted: #9d9c9c;
  --border-radius: 12px;
  --max-width: 1200px;
  --font-family: "Inter", sans-serif;
}
